/* center on page */
app > #loading {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

loading > div {
    height: 60vh;
}

/*.app-container {*/
/*max-width: 1024px;*/
/*margin: 0 auto;*/
/*}*/

.content-ctn {
    margin-bottom: 50px;
}

.bottom-navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1024px;
    background-color: #FFFFFF;
}

/* home */
.semester-span {
    border-bottom: 2px solid #FF4081;
    cursor: pointer;
    /* remove dotted border onclick event */
    outline: 0;
}

/* overview */
.delete-btn {
    min-width: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

.delete-btn-offset-15 {
    top: 12px;
}

.event {
    height: 72px;
    padding: 0 6px;
    background-color: #aed581;
}

.event-offset-15 {
    margin-top: 12px;
}

.event-offset-30 {
    margin-top: 24px;
}

.event-offset-45 {
    margin-top: 36px;
}

.event-ctn {
    max-width: 100px;
    height: 48px;
    position: relative;
}

.event-ctn:not(:last-child) {
    margin-right: 5px;
}

.event-border {
    border: 1px solid #c2185b;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.my-tr {
    max-height: 48px;
}

.icon-ctn > md-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
    outline: none;
}

.icon-ctn {
    float: right;
    margin: 15px;
}

.unscheduled-ctn {
    width: 80%;
    margin: 50px auto;
    box-shadow: 1px 1px 5px rgb(170, 170, 170);
    padding: 10px;
}