/***********************************************/
/*           loading screen                    */
/***********************************************/
app > #loading {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

/***********************************************/
/*           custom navbar                     */
/***********************************************/
.logo {
    cursor: pointer;
    outline: none;
}

md-toolbar.custom {
    padding-top: 20px;
    padding-bottom: 20px;
}

md-toolbar.custom h1 {
    font-size: 1.8em;
}

md-toolbar.custom a:hover {
    text-decoration: none;
}

/***********************************************/
/*           table                             */
/***********************************************/
img.flag {
    padding: 2px 4px;
    width: 30px;
}

.overview-table {
    overflow: visible;
}

/***********************************************/
/*           details                           */
/***********************************************/

.subheader {
    font-size: 20px;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -15px;
}

.description {
    box-shadow: 1px 1px 5px rgb(170, 170, 170);
    padding: 10px;
}

.description > .subheader {
    margin: 0;
    font-size: 20px;
}

.description > p {
    padding: 0 5px;
}

.contact > p {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 5px;
}

.info > span {
    display: block;
}

/***********************************************/
/*           other                             */
/***********************************************/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.content-ctn {
    margin-bottom: 50px;
    padding: 0 15px;
}

.bottom-navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1024px;
    background-color: #FFFFFF;
}

.semester-span {
    border-bottom: 2px solid #FF4081;
    cursor: pointer;
    outline: 0;
}

.delete-btn {
    min-width: 0px;
    position: absolute;
    bottom: 0;
    right: -5px;
    margin: 0;
}

.delete-btn-offset-15 {
    top: 12px;
}

.delete-btn-offset-30 {
    top: 24px;
}

.event {
    height: 72px;
    padding: 0 6px;
    background-color: #aed581;
}

.event-offset-15 {
    margin-top: 12px;
}

.event-offset-30 {
    margin-top: 24px;
}

.event-offset-45 {
    margin-top: 36px;
}

.event-ctn {
    max-width: 100px;
    height: 48px;
    position: relative;
}

.event-ctn:not(:last-child) {
    margin-right: 5px;
}

.event-border {
    border: 2px dotted #c2185b;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.my-tr {
    max-height: 48px;
}

.icon-ctn > md-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
    outline: none;
}

.icon-ctn {
    float: right;
    margin: 15px;
}

.unscheduled-ctn {
    width: 80%;
    margin: 50px auto;
    box-shadow: 1px 1px 5px rgb(170, 170, 170);
    padding: 10px;
}

.overview-name-ctn {
    padding-right: 15px;
}

.overview-name-ctn > a {
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}