<md-input-container>
    <label>Filter by Search</label>
    <input type="text" ng-model="query.search">
</md-input-container>

<md-table-container>
    <table md-table md-row-select ng-model="selected">
        <thead md-head md-order="query.order">
        <tr md-row>
            <th md-column md-order-by="name"><span>Name</span></th>
            <th md-column md-order-by="lecturer"><span>Lecturer</span></th>
            <th md-column md-order-by="institute">Institute</th>
            <th md-column md-order-by="subsection">Subsection</th>
            <th md-column md-order-by="creditpoints" md-numeric>Creditpoints</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="course.gguid" md-select-id="{{course.gguid}}" md-auto-select
            ng-repeat="course in courses | orderBy: query.order | filterBy: ['name', 'lecturer', 'institute', 'subsection', 'creditpoints']: query.search | limitTo: query.limit: (query.page - 1) * query.limit">
            <td md-cell>{{course.name}}</td>
            <td md-cell>{{course.lecturer}}</td>
            <td md-cell>{{course.contact[0].address.department}}</td>
            <td md-cell>{{course.subfield}}</td>
            <td md-cell>{{course.ects}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ courses.length }}"
                     md-page-select></md-table-pagination>

<md-button class="md-raised" ng-click="goBack()">Back</md-button>
<md-button class="md-raised" ng-click="clearAll()">Clear all</md-button>
<md-button class="md-raised" ng-click="showOverview(selected)">Overview</md-button>

<pre>{{selected | json}}</pre>