<loading></loading>
<div ng-show="!loading">

    <h2>{{field}} - {{semester}}</h2>

    <div layout="row" layout-align="space-between stretch" layout-xs="column">

        <!--filter-->
        <md-input-container flex>
            <label>Search</label>
            <md-icon md-svg-src="img/icons/ic_search_black_36px.svg"></md-icon>
            <input type="text" ng-model="search">
        </md-input-container>

        <!--type-->
        <md-input-container flex flex-offset="5">
            <b>Type:</b>
            <md-checkbox ng-model="type.lecture">Lecture</md-checkbox>
            <md-checkbox ng-model="type.exercise">Exercise</md-checkbox>
            <md-checkbox ng-model="type.other">Other</md-checkbox>
        </md-input-container>

        <!--language-->
        <md-input-container flex flex-offset="5">
            <b>Language:</b>
            <md-checkbox ng-model="languages.en">
                <img class="flag" src="img/flags/en.png" alt="English">
            </md-checkbox>
            <md-checkbox ng-model="languages.de">
                <img class="flag" src="img/flags/de.png" alt="German">
            </md-checkbox>
            <md-checkbox ng-model="languages.other">
                <img class="flag" src="img/flags/other.png" alt="Others">
            </md-checkbox>
            <md-checkbox ng-model="languages.unknown">
                <img class="flag" src="img/flags/unknown.png" alt="Unknown">
            </md-checkbox>
        </md-input-container>

    </div>

    <!--table-->
    <md-table-container>
        <table md-table md-row-select ng-model="selected">

            <!--table header-->
            <thead md-head md-order="table.order">
            <tr md-row>
                <th md-column md-order-by="name"><span>Name</span></th>
                <th md-column md-order-by="type">Type</th>
                <th md-column md-order-by="language">Language</th>
                <th md-column md-order-by="ects">ECTS</th>
                <th md-column md-order-by="contact"><span>Lecturer</span></th>
                <th md-column md-order-by="units">Unit</th>
            </tr>
            </thead>

            <!--table body-->
            <tbody md-body>
            <tr md-row md-select="course.gguid" md-select-id="{{course.gguid}}"
                ng-repeat="course in filtered = (courses  | orderBy: table.order |
                filter: textFilter | filter: languageFilter | filter: typeFilter) |
                limitTo: table.limit: (table.page - 1) * table.limit">
                <td md-cell>
                    <a ng-click="showDetails(course.gguid)">
                        <md-tooltip md-direction="top">Show details</md-tooltip>
                        <pre>{{course.name | length:50}}</pre>
                    </a>
                </td>
                <td md-cell>
                    <pre>{{course.type | join: '\n'}}</pre>
                </td>
                <td md-cell>
                    <span ng-bind-html="course.language | languages"></span>
                </td>
                <td md-cell>{{course.ects | join: ' or '}}</td>
                <td md-cell>
                    <pre>{{course.contact | lecturers}}</pre>
                </td>
                <td md-cell>
                    <pre>{{course.units | unique | length:50 | join: ',\n'}}</pre>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <!--table pagination -->
    <md-table-pagination md-limit="table.limit" md-page="table.page" md-total="{{ filtered.length }}"
                         md-page-select md-options="[10, 20, 50, 100]"></md-table-pagination>

    <!--buttons -->
    <md-button class="md-raised" ng-click="goBack()">Back</md-button>
    <md-button class="md-raised" ng-click="clearAll()">Clear all</md-button>
    <md-button ng-disabled="disableBtn" class="md-raised" ng-click="showSchedule()">Schedule</md-button>

</div>