<md-content class="md-padding" ng-style="{'background-color':'rgba(0,0,0,0)'}">

    <img ng-src="{{image[0].src}}" alt="RWTH Courses" layout-align="center center"/>
    <div class="title" layout-align="center center">RWTH Courses</div>
    <div class="subtitle">Find your courses easily</div>

    <div layout="row" layout-xs="column" layout-align="center center">
        <div flex="70">
            <form ng-submit="$event.preventDefault()" name="searchForm">
                <md-autocomplete md-selected-item="selectedItem"
                                 md-input-name="autocompleteField"
                                 md-search-text="searchText"
                                 md-item-text="field"
                                 placeholder="Enter your field of study..."
                                 md-min-length="0"
                                 md-items="field in querySearch(searchText)">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{field}}</span>
                    </md-item-template>

                    <md-not-found>
                        No such field found at RWTH. But you can show all courses.
                    </md-not-found>
                </md-autocomplete>
            </form>
        </div>
            <div flex>
                <div class="md-padding" align="start center">or <span class="semester-span" ng-click="getCourseList()">show all courses</span></div>
            </div>
    </div>
    <div align="center" class="md-padding">in <span class="semester-span" ng-click="changeSemester()">{{ currentSemester }}</span></div>

    </md-content>