.app-container {
    max-width: 1024px;
    margin: 0 auto;
}

.bottom-navigation{
    position: fixed;
    bottom:0;
    width:100%;
    max-width: 1024px;
}

.body-home {
    background-color:#4451B9;
    background-image:linear-gradient(to bottom right,#4874B9,#4451B9);
}