.semester-span {
    border-bottom: 2px solid #F8AB2C;
    cursor: pointer;
    /* remove dotted border onclick event */
    outline: 0
}

.title {
    font-weight: 200;
    font-size: 36pt;
    color: #FFFFFF;
    opacity: 0.8;
}

.subtitle {
    font-size: 14pt;
    color: #FFFFFF;
    line-height: 38px;
    opacity: 0.8;
}