.delete-btn {
    min-width: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

.event-ctn {
    max-width: 100px;
    height: 100px;
    padding: 5px;
    background-color: #aed581;
    position: relative;
}

.event-ctn:not(:last-child) {
    margin-right: 5px;
}

.event-ctn a {
    cursor: pointer;
}

.event-ctn a:hover{
    text-decoration: underline;
}